* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
    background-color: #121214;
    background-position: top center;
    background-size: 100% auto;
}

body * {
    font-family: 'Montserrat', sans-serif;
    line-height: 160%;
}

header {
    padding-top: 32px;
    height: 132px;
}

header div{
    width: 120px;
    background-image: linear-gradient(90deg, #C91842 , #5CC2E2);
    border-radius: 50%;
    margin: auto;
    display: flex;
    padding: 4px;
}

header img {
    width: 100%;
    border-radius: 50%;
}

/* main * {
    border: 1px solid red;
} */

main {
    max-width: 520px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;    
}

section {
    color: #FFFFFF;
    background-image: linear-gradient(90deg, #C91842 , #5CC2E2);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #262629;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section img {
    transition: transform 0.3s;
}

section img:hover, svg:hover {
    transform: scale(1.1);
}

section ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 24px;
    gap: 16px;
}

.movie-list img {
    width: 100px;
    height: 150px;
    border-radius: 8px;
    border: 1px solid #555555;   
}

.series-list img {
    width: 100px;
    height: 150px;
    border-radius: 8px;
    border: 1px solid #555555;
}

.social-list img {
    border-radius: 8px;
    border: 1px solid #555555;
}

/* animation */

header div {
    animation: fromTop .7s .15s backwards;
}

main section {
    animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    animation-delay: 0;
}

main section:nth-child(2) {
    animation-delay: .2s;
}

main section:nth-child(3) {
    animation-delay: .4s;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}